.login-form {
    display: flex;
    flex-direction: column;

    & .user-input,
    & .password-input
     {
        flex: 1;      
        margin-bottom: 10px;

        input {
            width: 100%;
            padding: 10px 20px 10px 10px;
        }
    }

    & .remember-me {
        color: #EC8D4A;
        margin-bottom: 10px;
    }

    & .submit-button {
        display: flex;

        & .button {
            flex: 1;
            background-color: #00BCD4;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;    
            font-size: 16px;
        }
    }
}