.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;

    & .left-side {
        flex: 1 1 auto;
        color: white;
    }
    & .middle {
        flex: 7 1 auto;
        background-color: white;
    }
    & .right-side {
        flex: 5 1 auto;
        color: white;
    }


}
